@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Secular+One&display=swap');


/*

Rubik: CSS class for a variable style

Use a unique and descriptive class name
Use a value from 300 to 900

.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


Secular One: CSS class

.secular-one-regular {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
